name: Push GitCode

on: [push]

jobs:
  to_gitlab:
    runs-on: ubuntu-latest
    steps:                                              # <-- must use actions/checkout before mirroring!
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            git@gitcode.net:chearlai/translationpackmirror.git
          ssh_private_key:                              # <-- use 'secrets' to pass credential information.
            ${{ secrets.SSHKEY }}
